GEMINI_API_KEY="your_gemini_api_key"
GEMINI_MODEL="your_gemini_model for example : gemini-3.5-flash"
HOST="localhost or your_mysql_server"
USER="user (root)"
PORT="3306 or your_port"
PASSWORD="your_mysql_password!"
DATABASE="your_mysql_database"